{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-6 m-0 text-center p-2">
                <img src="{{ listing.imageURL }}" alt="Image Placeholder" class="img-fluid" />
            </div>
            <div class="col-lg-3 col-md-6 m-0 bg-light p-2">
                <div class="container">
                    
                    {% if request.user == listing.user %}
                        <h2>{{ listing.title }}</h2><a href = "{% url 'edit' listing.title %}"><span class = "text-primary">(edit)</span></a>
                    {% else %}
                        <h2>{{ listing.title }}</h2>
                    {% endif %}
                    
                    
                    <p>{{ listing.desc }}</p>
                
                    <h3>£{{ listing.price|floatformat:2 }}</h3>
                    <small class="text-muted">{{ count }} Bid(s) have been made.</small>
                    
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'makebid' listing.title %}" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary my-2">Make Bid</button>
                        </form>
                    {% endif %}
                

                    <div class="my-3">
                        <h4>Details:</h4>
                        <ul>
                            <li>Listed By: {{ listing.user }}</li>
                            <li>Category: {{ listing.category }}</li>
                            <li>Active: {{ listing.active }}</li>
                            <li>Expires: {{ listing.expires }}</li>
                        </ul>
                    </div>
                </div>

                {% if user.is_authenticated %}

                    <br />

                    <div class="container-fluid text-center">
                        <a href = "{% url 'add_watchlist' listing.title %}" class = "btn btn-primary btn-sm">Add to watchlist</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <hr />

        <div class="col-12 p-2">
            <h3>Comments</h3>

            <div class="container-fluid my-4">
                {% for c in comments %}
                <div class="card my-2">
                    <div class="card-body">
                        <strong>{{ c.user }}</strong> - {{ c.comment }}
                    </div>
                </div>
                {% empty %}
                <h3 class="text-center">No comments</h3>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="container">
                <div class="card bg-light">
                    <div class="card-body">
                        <h4>Add a Comment</h4>

                        <form action="{% url 'addcomment' listing.title %}" method="POST">
                            {% csrf_token %}
                            {{ commentForm|crispy }}
                            <button type="submit" class="btn btn-success">Post Comment</button>
                        </form>
                    </div>
                </div>
                
            </div>
            
            {% endif %}
        </div>  
    </div>






{% endblock %}