{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <h2>Create New Listing</h2>
        {% if message %}
            <div class="alert alert-danger font-weight-bold">{{ message }}</div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class = "btn btn-success w-100">Save</button>
        </form>
    </div>
{% endblock %}